.nav {
    grid-area: n;
    background-color: #9f796c;
    padding: 20px;
}

.item{
    margin-bottom: 10px;
}

.item a {
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
}

.item a.activeLink {
    color: gold
}
